 <!DOCTYPE html>
<html>
<head>
<title>	<% if (m.length > 0) { %>
		<%= m %>
	<% }else{ %>
		Login
	<%  }%>
 </title>



</head>
<body>


	<b>
	<% if (m.length > 0) { %>
		Incorrect username and/or password <br>
		<%= m %>
		<br>
	<% } %>
	</b>


	<form>
	<div>
	 <label>Username:</label>
	 <input type = "text" id = "name" name = "username"/>
	</div>
	<div>
	 <label>Password:</label>
	 <input type = "password" id = "pw" name = "password"/>
	</div>
	<div>
	 	 <button id= "subm">Log In!</button>
	</div>
	</form>

</body>


<script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

<script>


$(function () {

  var VDT = [];
  var VFT = [];

  var DT = {};
  var FT = {};

  $("#subm").on("click",function(ev){
    var name = $("#name").val();
    var password = $("#pw").val();
    if(name == "" || password == "" || name == undefined || password == undefined)
      return;



    $.post("/login",{username: name, password: password,
                    VDT : JSON.stringify(VDT),VFT : JSON.stringify(VFT)});
  });

  $( "#pw" ).keyup(function( event ) {

  if(event.key.length == 1){
    DT[event.key].r = event.timeStamp;
    VDT.push(DT[event.key]);
  }
  }).keydown(function( event ) {
    if ( event.which == 13 ) {
      event.preventDefault();
      VFT = makeVFT(VDT);
      $("#subm").trigger("click");
    }
    console.log("da");
    DT[event.key] = {p : event.timeStamp,
                      key : event.key};

  });


function makeVFT(VDT){
  var VFT = [];

  for(var i = 1; i < VDT.length; i++){
    var ob = {from : VDT[i-1].key,
              to : VDT[i].key,
              interval : VDT[i].p - VDT[i-1].p};
    VFT.push(ob);
  }

  return VFT;

}


});



</script>


</html>
